nav.iconswall a.icon {
	display:block;
	float: left;
	background-color: black;
}

nav.iconswall a.icon:hover {
	background-color: gray;
}

nav.iconswall a.icon div.icontext {
	text-align: center;
}

@media (max-width: 320px) {

	nav.iconswall a.icon {
		width: 40px;
		height: 50px;
		margin: 1px;
		border-radius: 3px;
	}
	
	nav.iconswall a.icon div.iconimage {
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		background-repeat: no-repeat;
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import48.png');
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import48.png');
	}
	
	nav.iconswall a.icon div.icontext {
		width: 40px;
		height: 10px;
	}
}

@media (min-width: 321px) and (max-width: 640px) {
	
	nav.iconswall a.icon {
		width: 80px;
		height: 95px;
		margin: 2px;
		border-radius: 6px;
	}
	
	nav.iconswall a.icon div.iconimage {
		width: 80px;
		height: 80px;
		background-size: 80px 80px;
		background-repeat: no-repeat;
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}
	
	nav.iconswall a.icon div.icontext {
		width: 80px;
		height: 15px;
	}
}

@media (min-width: 641px) and (max-width: 1280px) {
	
	nav.iconswall a.icon {
		width: 160px;
		height: 180px;
		margin: 4px;
		border-radius: 12px;
	}
	
	nav.iconswall a.icon div.iconimage {
		width: 160px;
		height: 160px;
		background-size: 160px 160px;
		background-repeat: no-repeat;
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}
	
	nav.iconswall a.icon div.icontext {
		width: 160px;
		height: 20px;
	}
	
}

@media (min-width: 1281px) {
	
	nav.iconswall a.icon {
		width: 256px;
		height: 280px;
		margin: 8px;
		border-radius: 20px;
	}
	
	nav.iconswall a.icon div.iconimage {
		width: 256px;
		height: 256px;
		background-size: 256px 256px;
		background-repeat: no-repeat;
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}

	nav.iconswall a.icon div.iconimport {
		background-image: url('../../resources/images/import.import256.png');
	}
	
	nav.iconswall a.icon div.icontext {
		width: 256px;
		height: 24px;
	}
	
}
