div.iconswall div.icon {
	float: left;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
}

@media (max-width: 320px) {

	div.iconswall div.icon {
		height: 40px;
		width: 40px;
		background-image: url('../../resources/images/import.import_48.png');
		padding: 1px;
		margin: 1px;
	}

}

@media (min-width: 321px) and (max-width: 640px) {
	
	div.iconswall div.icon {
		height: 80px;
		width: 80px;
		background-image: url('../../resources/images/import.import_256.png');
		border-width: 2px;
		margin: 2px;
	}
	
}

@media (min-width: 641px) and (max-width: 1280px) {
	
	div.iconswall div.icon {
		height: 160px;
		width: 160px;
		background-image: url('../../resources/images/import.import_256.png');
		border-width: 4px;
		margin: 4px
	}
	
}

@media (min-width: 1281px) {
	
	div.iconswall div.icon {
		height: 256px;
		width: 256px;
		background-image: url('../../resources/images/import.import_256.png');
		border-width: 8px;
		margin: 8px;
	}
	
}
