<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="pmsiadmin_ID" version="3.0">
    
    <display-name>pmsiadmin</display-name>
 
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml</param-value>
   	</context-param>
   	
   	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <servlet>
      <servlet-name>default-conf</servlet-name>
      <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
      <init-param>
        <param-name>fileEncoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
    </servlet>

	<servlet>
    	<servlet-name>mvc-dispatcher</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default-conf</servlet-name>
		<url-pattern>*.xsd</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default-conf</servlet-name>
		<url-pattern>*.xsl</url-pattern>
	</servlet-mapping>
  
 	<servlet-mapping>
		<servlet-name>default-conf</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
		
</web-app>