@import '../reindeer/legacy-styles.css';

.pims-main-header {
	width: 100%;
	background-color: #3399FF;
	text-align: center;
	border-bottom: 1px solid grey;
	padding: 1px 0px;
}

.pims-main-menubar {
	width: 100%;
}

.pims-contentpanel-headerpanel-layout {
	background-color: yellow;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;	
	padding: 1px;
	margin: 3px 10px;
}

.v-panel-deco-pims-finesspanel {
	visibility: hidden;
}

.v-panel-deco-pims-contentpanel-headerpanel {
	visibility: hidden;
}

.v-panel-content-pims-contentpanel-headerpanel {
	border-style: none;
}

.v-slot-pims-splitpanel {
	background-color : white;
}